.base {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  z-index: 30;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
}

.member {
  justify-content: center;
}

.posting {
  justify-content: flex-start;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 36px;
}

.base h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: 700;
  color: #191a20;
  text-align: center;
}

.member h2 {
  margin-bottom: 48px;
}

.close {
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: 0;
}

.member > .close {
  position: absolute;
  top: 20px;
  right: 20px;
}

.close > * {
  width: 24px;
  height: 24px;
}

.edit,
.delete {
  width: 32px;
  height: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 0;
  background-color: transparent;
}

.edit {
  margin-right: 8px;
}

.edit > *,
.delete > * {
  width: 24px;
  height: 24px;
  object-fit: cover;
}

.edit > * {
  fill: #3da5f5;
}

.delete > * {
  fill: #f86d7d;
}

.extraButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
}

.extraButtons button {
  font-size: 14px;
  background-color: transparent;
  border: 0;
}

.extraButtons button:is(:hover, :active) {
  color: #8c8d96;
}

.extraButtons button:first-child {
  position: relative;
}

.extraButtons button:first-child::after {
  position: absolute;
  top: 50%;
  right: -24px;
  transform: translateY(-50%);
  content: ' ';
  width: 1px;
  height: 12px;
  background-color: #e0e2e7;
}

.section {
  margin-bottom: 36px;
}

.section > h3 {
  margin-bottom: 14px;
  font-size: 16px;
  color: #191a20;
}

@media screen and (min-width: 900px) {
  .base {
    height: auto;
    padding: 40px;
  }

  .member {
    width: auto;
  }

  .posting {
    width: 930px;
    max-height: 985px;
  }

  .buttonWrapper {
    display: inline-flex;
  }

  .base > h3 {
    margin-bottom: 16px;
    font-size: 18px;
  }

  .extraButtons {
    margin-bottom: 48px;
  }
}
