.primary {
  width: 100%;
  height: 45px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  background-color: #3da5f5;
  border: none;
  border-radius: 4px;
  transition: background-color 200ms ease-in-out;
}

.primary:is(:hover, :active) {
  background-color: #3186c4;
}

.short {
  width: 96px;
  height: 36px;
}

.mini {
  padding: 0px 10px;
  height: 24px;
  font-size: 12px;
  border-radius: 4px;
  border: none;
  transition: background-color 200ms ease-in-out;
}

.gray {
  background-color: #e0e2e7;
}

.gray:is(:hover, :active) {
  background-color: #bcbfc6;
}

.red {
  color: #fff;
  background-color: #f86d7d;
}

.red:is(:hover, :active) {
  background-color: #de5969;
}

.ghost {
  padding: 10px;
  font-size: 16px;
  background-color: #fff;
  border: none;
}

.ghost:is(:hover, :active),
.isOpen {
  color: #3186c4;
}

.isOpen {
  font-weight: 600;
}

.kakao {
  width: 100%;
  height: 45px;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  background-color: #fee500;
  border: none;
  border-radius: 100px;
}

@media screen and (min-width: 900px) {
  .primary,
  .kakao {
    width: 400px;
  }

  .short {
    width: 100px;
    height: 40px;
  }

  .ghost {
    width: 176px;
    text-align: left;
  }
}
