.list {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
}

.item {
  display: flex;
  margin-bottom: 16px;
  align-items: center;
}

.item:last-child {
  align-items: flex-start;
  margin-bottom: 0px;
}

.item dt {
  width: 72px;
  margin-right: 4px;
  font-size: 14px;
}

.item dd {
  width: 100%;
}

.deleteButton {
  background: #d609b4;
  border: none;
  color: white;
  padding: 6px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 10px;
  position: relative;
  bottom: 8px;
}

.deleteButton:hover {
  background: #833d77;
}

@media screen and (min-width: 900px) {
  .item {
    height: auto;
  }

  .item dt {
    margin-right: 8px;
  }

  .item dd {
    width: 400px;
  }

  .form {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
