.list {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
}

.item {
  display: flex;
  height: 36px;
  margin-bottom: 16px;
  align-items: center;
}

.item:last-child {
  margin-bottom: 0px;
}

.item dt {
  width: 90px;
  margin-right: 4px;
  font-size: 14px;
}

.item dd {
  width: 100%;
}

@media screen and (min-width: 900px) {
  .item dt {
    margin-right: 8px;
  }

  .item dd {
    width: 400px;
  }

  .form {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
