.form {
  display: flex;
  margin-bottom: 8px;
  align-items: center;
}

.form input {
  margin-right: 8px;
}

.formContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.searchContainer {
  display: flex;
  align-items: center;
}

.search {
  background-color: #3da5f5;
  border-radius: 5px;
  padding: 10px;
  width: 100px;
  text-align: center;
}

.search:is(:hover, :active) {
  background-color: #3186c4;
  transition: background-color 200ms ease-in-out;
  transition: color 200ms ease-in-out, background-color 200ms ease-in-out;
}

@media screen and (min-width: 900px) {
  .form {
    width: 100%;
    padding-right: 24px;
  }
}
