.form {
  display: flex;
  margin-bottom: 8px;
}

.form input {
  margin-right: 8px;
}

@media screen and (min-width: 900px) {
  .form {
    justify-content: flex-end;
    width: 100%;
    padding-right: 24px;
    justify-content: flex-end;
  }
}
