.selectedDay {
  background-color: #3da5f5;
  color: white;
}

.input {
  margin-top: 18px;
  width: 100%;
  max-width: 420px;
  font-family: Arial, sans-serif;
}

.inputContainer {
  border: 1px solid #ccc;
  padding: 38px;
  border-radius: 30px;
  background-color: #f9f9f9;
}

.inputGroup {
  display: flex;
  align-items: center;
}

.inputField {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.waypoint {
  padding-top: 27px;
  margin-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.waypoint:last-child {
  border-bottom: 1px dashed #ccc;
}

.datePicker {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.saveButton {
  background-color: #3da5f5;
  border: none;
  color: white;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.form {
  position: absolute;
  left: 507px;
  bottom: 870px;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.form input {
  margin-right: 8px;
}

.tourapi {
  position: fixed;
  left: 510px;
  top: 100px;
}

.img {
  width: 300px;
  height: 150px;
}

.inputSaveButton {
  background-color: #3da5f5;
  color: white;
  border: none;
  padding: 2px 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

.inputSaveButton:hover {
  background-color: #3476c8;
}

.position {
  position: absolute;
  right: 1px;
  top: 17px;
}

.showMap {
  background-color: #3da5f5;
  border: none;
  color: white;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.showMap:hover {
  background-color: #0056b3;
}

.totalDistance {
  position: absolute;
  left: 957px;
  bottom: 35px;
}

.resetMarkers {
  position: absolute;
  right: 697px;
  bottom: 35px;
  background-color: #3da5f5;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 2px 5px;
  transition: background-color 0.3s ease;
}

.resetMarkers:hover {
  background-color: #0056b3;
}

.changeMapButton {
  position: relative;
  top: 30px;
  z-index: 1;
}

.mapTypeButton {
  background-color: #3da5f5;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 6px;
  margin-right: 15px;
  transition: background-color 0.3s ease;
}

.mapTypeButton:hover {
  background-color: #0056b3;
}
@media screen and (max-width: 1400px) {
  .position {
    position: relative;
    top: 300px;
  }
  .form {
    position: absolute;
    top: 110px;
  }
  .tourapi {
    position: absolute;
    top: 140px;
    bottom: 300px;
  }
  .totalDistance {
    position: relative;
    left: 80px;
    bottom: 580px;
  }
  .resetMarkers {
    position: relative;
    left: 5px;
    bottom: 560px;
  }
}
