.base {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 16px;
  width: 100%;
  height: 36px;
  font-size: 14px;
  border: 1px solid #e0e2e7;
  border-radius: 4px;
}

.base::placeholder {
  color: #8c8d96;
}

.base:is(:hover, :focus, :active) {
  border-color: #3da5f5;
}

.buttonType {
  position: relative;
}

.buttonType button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.loginType input:first-child {
  border-radius: 4px 4px 0 0;
}

.loginType input:first-child:is(:hover, :focus, :active) {
  position: relative;
}

.loginType input:last-child {
  margin-top: -1px;
  border-radius: 0 0 4px 4px;
}

.memo {
  padding: 10px 16px;
  min-height: 80px;
  resize: none;
}

.selector {
  position: relative;
}

.selector select {
  appearance: none;
  padding-right: 40px;
  text-overflow: ellipsis;
  color: #8c8d96;
}

.selector select option[value=""][disabled] {
  display: none;
}

.caret {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  overflow: hidden;
  pointer-events: none;
}

.caret > * {
  width: 100%;
  height: 100%;
  object-fit: cover;
  fill: #8c8d96;
}

.selector:is(:hover, :focus, :active) .caret > * {
  fill: #3da5f5;
}

@media screen and (min-width: 2000px) {
  .base {
    width: 400px;
    height: 40px;
    font-size: 16px;
  }

  .buttonType,
  .selector {
    display: inline-block;
  }

  .loginType input {
    width: 100%;
  }
}
